parameter-xslt/parameter-transformation-input.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="parameter-transformation-input">
		<xs:annotation>
			<xs:documentation>The parameter-transformation-input is generated by the software when using the parameter-transformation tag in your endpoint.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="input-from-request">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="endpoint"/>
							<xs:element name="debug-requested"/>
							<xs:element name="hash"/>
							<xs:element name="environment">
								<xs:complexType/>
							</xs:element>
							<xs:element name="http-header-user-agent"/>
							<xs:element name="http-header-referrer"/>
							<xs:element name="ip-address"/>
							<xs:choice>
								<xs:annotation>
									<xs:documentation>Depends on the method how data are submitted to the endpoint.</xs:documentation>
								</xs:annotation>
								<xs:element name="json" type="xs:anyType"/>
								<xs:element name="xml" type="xs:anyType"/>
								<xs:element name="parameter" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:attribute name="name" type="xs:string" use="required"/>
										<xs:attribute name="value" type="xs:string" use="required"/>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="input-from-application">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="application" type="xs:string"/>
							<xs:element name="application-display-name" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Will be omitted if not available in the database.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="debug-allowed" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Only present if debug-mode is enabled.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="secret-key" type="xs:string" maxOccurs="unbounded"/>
							<xs:element name="incremental-id-per-endpoint" type="xs:string"/>
							<xs:element name="random-id-per-application" type="xs:string"/>
							<xs:element name="base-url" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="any-other-data-source" type="xs:anyType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>You can add any additional data-sources within the parameter-trasformation tag. The return from the data-source will be inserted here.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
